main{
    display:grid;
    grid-template-columns:1fr 1fr;
    align-content:center;
    padding:0 20px;
}
main .col-1{
    display:flex;
    justify-content: space-between;
    flex-direction:column;
}
form{
    display:flex;
    align-items:center;
    gap:7px;
    margin:10px 0 0 20px;
}
#input-city{
    border:1px solid #363535;
    border-radius:10px;
    display:inline-block;
    padding:5px 15px;
    font-family: 'Poppins';
    font-size:0.8rem;
    background-color:#fff;
    font-weight:500;
    color:#000;
}
form button{
    max-width:30px;
    border:1px solid gray;
    border-radius:10px;
    background-color:#fff;
    padding:5px;
    cursor:pointer;
    transition-duration:0.1s;
}
form button:hover{
    padding:7px
}
form img{
    display:block;
}
h1{
    font-size:2.7rem;
}
#temp-today{
    font-size:4rem;
    font-weight:bold;
}
h1, #temp-today, #clock{
    text-shadow:2px 2px 5px #000;
}
#city-name{
    text-transform:capitalize;
}
#clock{
    font-size:1.2rem;
    font-weight:500;
}
.grid-temp-icon{
    display:flex;
    align-items:flex-end;
}
.grid-temp-icon .icon-container{
    width:45px;
    margin-bottom:15px;
}
main .col-2{
    display:flex;
    flex-direction:column;
    gap:20px;
    justify-content: space-between;
}
#container-details, #container-forecast{
    background-color:#1111118c;
    padding:20px;
    border-radius:30px;
}
#container-details h2{
    margin-bottom:30px;
}
#container-details .grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
#container-details section{
    padding:10px;
    background-color:#c7c7c70c;
    border-radius:15px;
    min-height:110px;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    border:1px solid rgb(153, 151, 151);
}
#container-forecast h2{
    margin-bottom:20px;
}
#container-forecast .icon-container{
    width:30px;
}
#list-forecast{
    display:flex;
    flex-direction:column;
    gap:15px;
}
.forecast-day{
    display:grid;
    gap:20px;
    align-items:center;
    grid-template-columns: auto 1fr;
    justify-content: stretch;
    justify-items: stretch;
}
.day-weak{
    width:40px;
}
.forecast-day .col-1{
    display:flex;
    flex-direction: row;
    gap:10px;
    justify-content: flex-start;
}

.container-progress-bar{
    display:grid;
    gap:10px;
    align-items:center;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
}
.progress-bar{
    display:flex;
    height:10px;
    background-color:#9a9c9cc5;
    border-radius:15px;
    align-items:center;
}
.progress-bar .progress{
    background-color:#ededf0;
    display:inline-block;
    width:30px;
    height:100%;
    margin-left:calc(70% - 30px);
    border-radius:10px;
    position:relative;
    display:flex;
    justify-content: center;
}
.progress::before{
    content:var(--contentBefore);
    display:block;
    font-size:0.7rem;
    position:absolute;
    top:-18px;
}
@media(max-width:900px){
    h1{
        font-size:2rem;
        text-shadow:2px 2px 5px #000;
    }
    #temp-today{
        font-size:3rem;
        text-shadow:2px 2px 5px #000;
    }
    
    main{
        margin:60px 0;
        grid-template-columns: 1fr;
        gap:40px;
    }
    main .col-1{
        gap:40px;
    }
}
@media(max-width:620px){
    #container-details .grid{
        grid-template-columns: 1fr;
    }
    #container-details section{
        flex-direction:row;
        align-items: center;
        padding:0 20px;
    }
    #container-forecast .icon-container{
        display:none;
    }
}